:root {
  --color-primary: #000;
  --color-primary-accent: #fff;
  --color-secondary: #fff;
  --color-alice-blue: #ebf3fa;
  --color-police-blue: #31456a;
  --color-disco-dark: #202225;
  --color-input-primary: var(--color-primary);

  &.dark-mode {
    --color-primary: 221 221 221;
    --color-secondary: 24 24 25;
  }

  &.light-mode {
    --color-primary: 24 24 25;
    --color-secondary: 221 221 221;
  }
}